In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset('penguins')
df.to_csv('../data/raw/data.csv', index=False)
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [3]:
df.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [4]:
dicionario = pd.DataFrame([
    {
        "variavel": "species",
        "descricao": "Nome da espécie",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "island",
        "descricao": "Nome da ilha onde foi feita a medição",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    },{
        "variavel": "bill_length_mm",
        "descricao": "Comprimento de bico em milímetros",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "bill_depth_mm",
        "descricao": "Profundidade (altura) de bico em milímetros",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "flipper_length_mm",
        "descricao": "Comprimento de nadadeira em milímetros",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "body_mass_g",
        "descricao": "Massa corporal (peso em gramas)",
        "tipo":"quantitativa",
        "subtipo":"continua"
    },{
        "variavel": "sex",
        "descricao": "Sexo dos indivíduos",
        "tipo":"qualitativa",
        "subtipo":"nominal"
    }
])

dicionario

,variavel,descricao,tipo,subtipo
0,species,Nome da espécie,qualitativa,nominal
1,island,Nome da ilha onde foi feita a medição,qualitativa,nominal
2,bill_length_mm,Comprimento de bico em milímetros,quantitativa,continua
3,bill_depth_mm,Profundidade (altura) de bico em milímetros,quantitativa,continua
4,flipper_length_mm,Comprimento de nadadeira em milímetros,quantitativa,continua
5,body_mass_g,Massa corporal (peso em gramas),quantitativa,continua
6,sex,Sexo dos indivíduos,qualitativa,nominal

In [5]:
dicionario.to_csv('../data/external/dictionary.csv', index=False)